# Node modules
client/node_modules/
server/node_modules/

# Build output
client/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log* 